1511-ai-agent-for-n8n-creators.json
{
  "name": "1511-ai-agent-for-n8n-creators",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.path }}{{ $json['creators-filename'] }}.json",
        "options": {}
      },
      "id": "aba9babf-c7d5-4299-843e-ecee4198b703",
      "name": "stats_aggregate_creators",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -688,
        1280
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.path }}{{ $json['workflows-filename'] }}.json",
        "options": {}
      },
      "id": "6f87c5fe-aa21-482b-b20f-b12178a82c56",
      "name": "stats_aggregate_workflows",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -688,
        1504
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4bcb91c6-d250-4cb4-8ee1-022df13550e1",
              "name": "path",
              "type": "string",
              "value": "https://raw.githubusercontent.com/teds-tech-talks/n8n-community-leaderboard/refs/heads/main/"
            },
            {
              "id": "a910a798-0bfe-41b1-a4f1-41390c7f6997",
              "name": "workflows-filename",
              "type": "string",
              "value": "=stats_aggregate_workflows"
            },
            {
              "id": "e977e816-dc1e-43ce-9393-d6488e6832ca",
              "name": "creators-filename",
              "type": "string",
              "value": "=stats_aggregate_creators"
            },
            {
              "id": "20efae68-948e-445c-ab89-7dd23149dd50",
              "name": "chart-filename",
              "type": "string",
              "value": "=stats_aggregate_chart"
            },
            {
              "id": "14233ab4-3fa4-4e26-8032-6ffe26cb601e",
              "name": "datetime",
              "type": "string",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "id": "f63dc683-a430-43ec-9c25-53fa5c0a3ced",
              "name": "username",
              "type": "string",
              "value": "={{ $json.query.username }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6752fd9-5541-40e7-a31d-c8a431999403",
      "name": "Global Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1104,
        1488
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f4b20e-519e-4d46-aeac-c6c3f98a69fd",
              "name": "data",
              "type": "array",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "33e82640-169a-4eb3-9edb-4403ed1ed4fb",
      "name": "Parse Workflow Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -320,
        1568
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f4b20e-519e-4d46-aeac-c6c3f98a69fd",
              "name": "data",
              "type": "array",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b931f59b-e6c5-4bbd-90e7-a8422c965255",
      "name": "Parse Creators Data",
      "type": "n8n-nodes-base.set",
      "position": [
        -320,
        1232
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "maxItems": 25
      },
      "id": "c8293cec-a438-42b4-86fb-0ea46ca347df",
      "name": "Take Top 25 Creators",
      "type": "n8n-nodes-base.limit",
      "position": [
        304,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "79453f0d-e317-41e0-8d8f-742a89da574f",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -128,
        1920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "21b17fb0-1809-4dc0-b775-cf43a570aa3a",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.username }}",
              "rightValue": "={{ $('Global Variables').item.json.username }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a512f384-c667-4a17-8ecb-67c1b226a8d0",
      "name": "Filter By Creator Username",
      "type": "n8n-nodes-base.filter",
      "position": [
        -320,
        1920
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "d5425ae0-cf27-4810-913c-92d2a6662e08",
      "name": "gpt-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1408,
        608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n \"query\": \n {\n \"username\": \n \"joe\"\n }\n}"
      },
      "id": "c8344348-3039-416b-99c3-13a34b1a0720",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1424,
        1488
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c96b4ae7-4593-4c46-a529-8e229f3be17a",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1424,
        240
      ],
      "webhookId": "c118849f-57c9-40cf-bde6-dddefb9adcf4",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "n8n_creator_stats",
        "description": "Call this tool to get n8n Creator Stats.",
        "workflowId": "={{ $workflow.id }}",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n \"username\": \"n8n creator username\"\n}"
      },
      "id": "da5c15e8-d135-42dd-8d29-02890085d5c9",
      "name": "Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -800,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "fileName": "=creator-summary"
        }
      },
      "id": "c8da5bf5-2696-4644-a6bb-ab5df0d6b82d",
      "name": "creator-summary",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -464,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeff1310-2e1c-4ea4-9107-a14b1979f74f",
              "name": "response",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "efbed531-9008-4b17-9fdb-ec777d7c7b21",
      "name": "Workflow Response",
      "type": "n8n-nodes-base.set",
      "position": [
        144,
        1920
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are tasked with generating a **comprehensive Markdown report** about a specific n8n community workflow contributor using the provided tools. Your report should not only address the user's query but also provide meaningful insights into the contributor's impact on the n8n community. Follow the structure below:\n\n## Detailed Summary\n- Provide a thorough summary of the contributor's workflows.\n- Highlight unique features, key use cases, and notable technical components for each workflow.\n\n## Workflows\nCreate a well-formatted markdown table with these columns:\n- **Workflow Name**: The name of the workflow. Keep the emojies of they exist.\n- **Description**: A brief overview of its purpose and functionality.\n- **Unique Weekly Visitors**: The number of unique users who visited this workflow weekly.\n- **Unique Monthly Visitors**: The number of unique users who visited this workflow monthly.\n- **Unique Weekly Inserters**: The number of unique users who inserted this workflow weekly.\n- **Unique Monthly Inserters**: The number of unique users who inserted this workflow monthly.\n- **Why It’s Popular**: Explain what makes this workflow stand out (e.g., innovative features, ease of use, specific use cases).\n\n## Community Analysis\n- Analyze why these workflows are popular and valued by the n8n community.\n- Discuss any trends, patterns, or feedback that highlight their significance.\n\n## Additional Insights\n- If available, provide extra information about the contributor's overall impact, such as their engagement in community forums or other notable contributions.\n\n## Formatting Guidelines\n- Use Markdown formatting exclusively (headers, lists, and tables) for clarity and organization.\n- Ensure your response is concise yet comprehensive, structured for easy navigation.\n\n## Error Handling\n- If data is unavailable or incomplete, clearly state this in your response and suggest possible reasons or next steps.\n\n## TOOLS\n\n### n8n_creator_stats \n- Use this tool to retrieve detailed statistics about the n8n creator.\n\n\n \n"
        }
      },
      "id": "31cf5299-0f09-4758-b70f-f2f8e6fbe496",
      "name": "n8n Creator Stats Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1056,
        240
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=C:\\\\Users\\\\joe\\Downloads\\\\{{ $binary.data.fileName }}-{{ $now.format('yyyy-MM-dd-hh-mm-ss') }}.md",
        "options": {
          "append": true
        }
      },
      "id": "3ee46ec5-b3f7-4050-8420-ac05ee828438",
      "name": "Save creator-summary.md",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        -256,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c44ee9a7-e640-4f5e-acbe-ec559868b74c",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ea27daea-d2d9-4d35-854a-fbedd60b29b9",
      "name": "Summary Report",
      "type": "n8n-nodes-base.set",
      "position": [
        -464,
        624
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "Estadísticas de la tabla de clasificación de creadores del agente de IA para n8n\nhttps://github.com/teds-tech-talks/n8n-community-leaderboard",
        "height": 320,
        "width": 620,
        "color": 6
      },
      "id": "964dfa84-9d58-4421-8808-b79828af3630",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Convocatoria de herramientas para las estadísticas de los creadores de n8n",
        "height": 280,
        "width": 260
      },
      "id": "c967ab17-9840-427d-a48d-826b29aef5e1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## LLM local o en la nube",
        "height": 460,
        "width": 300,
        "color": 5
      },
      "id": "8c1ae9a2-45c4-46b2-9c5c-2ff05b5d6aa3",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "68dcf390-a4b7-4606-993c-51e07ae4799d",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -1408,
        784
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "Guardar el informe del creador de n8n localmente (opcional para la instalación local)",
        "height": 320,
        "width": 540,
        "color": 7
      },
      "id": "f35e24c5-c607-40d1-9034-d5e458b8f924",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Respuesta del informe resumido",
        "height": 340,
        "width": 320,
        "color": 4
      },
      "id": "c7095c81-2fa5-43ef-b05a-ae87ea4463c7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Variables de flujo de trabajo global",
        "height": 320,
        "width": 300
      },
      "id": "a8636f34-0499-4880-9746-cc300cc306d5",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Estadísticas diarias de la clasificación de n8n\nhttps://github.com/teds-tech-talks/n8n-community-leaderboard\n\n### Clasificación de n8n\nhttps://teds-tech-talks.github.io/n8n-community-leaderboard/",
        "height": 640,
        "width": 780,
        "color": 3
      },
      "id": "343a4759-7dc2-42c2-b7c6-2cfd828831b2",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Estadísticas de creadores de n8n",
        "height": 300,
        "width": 1120,
        "color": 6
      },
      "id": "551c1a80-5a7e-4d53-9d71-6d9eef0a3f15",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## n8n Estadísticas del flujo de trabajo",
        "height": 300,
        "width": 1120,
        "color": 4
      },
      "id": "d982c52d-3bc5-4753-93b4-52863e4efdb0",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02b02023-c5a2-4e22-bcf9-2284c434f5d3",
              "name": "name",
              "type": "string",
              "value": "={{ $json.user.name }}"
            },
            {
              "id": "4582435b-3c76-45e7-a251-12055efa890a",
              "name": "username",
              "type": "string",
              "value": "={{ $json.user.username }}"
            },
            {
              "id": "b713a971-ce29-43cf-8f42-c426a38c6582",
              "name": "bio",
              "type": "string",
              "value": "={{ $json.user.bio }}"
            },
            {
              "id": "19a06510-802e-4bd5-9552-7afa7355ff92",
              "name": "sum_unique_weekly_inserters",
              "type": "number",
              "value": "={{ $json.sum_unique_weekly_inserters }}"
            },
            {
              "id": "e436533a-5170-47c2-809b-7d79502eb009",
              "name": "sum_unique_monthly_inserters",
              "type": "number",
              "value": "={{ $json.sum_unique_monthly_inserters }}"
            },
            {
              "id": "198fef5d-86b8-4009-b187-6d3e6566d137",
              "name": "sum_unique_inserters",
              "type": "number",
              "value": "={{ $json.sum_unique_inserters }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c927aef4-0341-4717-b7a5-0820b4130afb",
      "name": "Creators Data",
      "type": "n8n-nodes-base.set",
      "position": [
        512,
        1232
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bc3cd11-904d-4315-974d-262c0bd5fea7",
              "name": "template_url",
              "type": "string",
              "value": "={{ $json.template_url }}"
            },
            {
              "id": "c846c523-f077-40cd-b548-32460124ffb9",
              "name": "wf_detais.name",
              "type": "string",
              "value": "={{ $json.wf_detais.name }}"
            },
            {
              "id": "f330de47-56fb-4657-8a30-5f5e5cfa76d7",
              "name": "wf_detais.createdAt",
              "type": "string",
              "value": "={{ $json.wf_detais.createdAt }}"
            },
            {
              "id": "f7ed7e51-a7cf-4f2e-8819-f33115c5ad51",
              "name": "wf_detais.description",
              "type": "string",
              "value": "={{ $json.wf_detais.description }}"
            },
            {
              "id": "02b02023-c5a2-4e22-bcf9-2284c434f5d3",
              "name": "name",
              "type": "string",
              "value": "={{ $json.user.name }}"
            },
            {
              "id": "4582435b-3c76-45e7-a251-12055efa890a",
              "name": "username",
              "type": "string",
              "value": "={{ $json.user.username }}"
            },
            {
              "id": "f952cad3-7e62-46b7-aeb7-a5cbf4d46c0d",
              "name": "unique_weekly_inserters",
              "type": "number",
              "value": "={{ $json.unique_weekly_inserters }}"
            },
            {
              "id": "6123302b-5bda-48f4-9ef2-71ff52a5f3ba",
              "name": "unique_monthly_inserters",
              "type": "number",
              "value": "={{ $json.unique_monthly_inserters }}"
            },
            {
              "id": "92dca169-e03f-42ad-8790-ebb55c1a7272",
              "name": "unique_weekly_visitors",
              "type": "number",
              "value": "={{ $json.unique_weekly_visitors }}"
            },
            {
              "id": "ee640389-d396-4d65-8110-836372a51fb0",
              "name": "unique_monthly_visitors",
              "type": "number",
              "value": "={{ $json.unique_monthly_visitors }}"
            },
            {
              "id": "9f1c5599-3672-4f4e-9742-d7cc564f6714",
              "name": "user.avatar",
              "type": "string",
              "value": "={{ $json.user.avatar }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cef3b311-882d-4f78-b414-828749a71918",
      "name": "Workflows Data",
      "type": "n8n-nodes-base.set",
      "position": [
        512,
        1568
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "username",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "id": "dea6c8e2-da8c-404f-9b8a-ec0596e29fb4",
      "name": "Merge Creators & Workflows",
      "type": "n8n-nodes-base.merge",
      "position": [
        800,
        1568
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Filtrar por nombre de usuario del creador n8n",
        "height": 320,
        "width": 480
      },
      "id": "c087ef65-e22d-4bb5-8866-dd1b6225567a",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        1808
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "06288ba7-4525-4e91-afe3-3f488910b784",
      "name": "Split Out Creators",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -128,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b033625c-529a-47cf-89b6-d74f2f600422",
      "name": "Split Out Workflows",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -128,
        1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "sum_unique_weekly_inserters",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "e71901f7-0a2d-4b69-bacd-acdaddd318ba",
      "name": "Sort By Top Weekly Creator Inserts",
      "type": "n8n-nodes-base.sort",
      "position": [
        80,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "unique_weekly_inserters",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "c82dc792-556b-41e1-8154-c6c0396efde5",
      "name": "Sort By Top Weekly Workflow Inserts",
      "type": "n8n-nodes-base.sort",
      "position": [
        80,
        1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "maxItems": 300
      },
      "id": "63708058-f6c7-41de-b658-66b7b3550bc2",
      "name": "Take Top 300 Workflows",
      "type": "n8n-nodes-base.limit",
      "position": [
        304,
        1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow for n8n Creators Stats",
        "height": 1120,
        "width": 2510,
        "color": 7
      },
      "id": "381dba69-0b8d-4c62-aba1-c466cd38c1d3",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## OBTENER estadísticas n8n del repositorio de GitHub",
        "height": 560,
        "width": 280,
        "color": 7
      },
      "id": "8065cdcc-a45a-4415-8da6-3484a4d20736",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Flujo de trabajo de estadísticas de la tabla de clasificación de creadores de n8n\n\n## Resumen\nEste flujo de trabajo agrega y procesa datos de la comunidad n8n para generar estadísticas detalladas sobre los creadores y sus flujos de trabajo. Obtiene información de archivos JSON almacenados en GitHub, fusiona los datos de los creadores y los flujos de trabajo, filtra los resultados según un nombre de usuario específico y utiliza un agente de IA para generar un informe completo en Markdown.\n\n## Recuperación de datos\n- **Datos de los creadores**:\n- Un nodo de solicitud HTTP (\"stats_aggregate_creators\") recupera un archivo JSON con estadísticas agregadas de los creadores de flujos de trabajo.\n- **Datos de los flujos de trabajo**:\n- Un nodo de solicitud HTTP independiente (\"stats_aggregate_workflows\") extrae un archivo JSON con métricas detalladas del flujo de trabajo, como el número de visitantes y las estadísticas de inserción.\n- **Variables globales**:\n- Se establece una variable global con la URL base del repositorio de GitHub que contiene estos archivos JSON, lo que garantiza que se utilice la fuente de datos correcta.\n\n## Procesamiento y fusión de datos\n- **Análisis de datos**:\n- Los nodos \"Analizar datos de creadores\" y \"Analizar datos de flujo de trabajo\" extraen matrices JSON de los archivos recuperados para su posterior procesamiento.\n- **Limitar y ordenar**:\n- Nodos como \"Tomar los 25 mejores creadores\" y \"Tomar los 300 mejores flujos de trabajo\" limitan los conjuntos de resultados, mientras que nodos como \"Ordenar por las principales inserciones semanales de creadores\" y \"Ordenar por las principales inserciones semanales de flujo de trabajo\" ordenan los datos según las métricas de rendimiento.\n- **Fusionar registros**:\n- Los datos de creadores y flujos de trabajo se fusionan al coincidir con el nombre de usuario, lo que enriquece el conjunto de datos con estadísticas combinadas de cada creador.\n\n## Filtrado y generación de informes\n- **Filtrado por nombre de usuario**:\n- Un nodo de filtro (\"Filtrar por nombre de usuario del creador\") permite que el flujo de trabajo se centre en un solo creador según el nombre de usuario introducido (p. ej., \"joe\"). **Generación del informe de Markdown**:\n- Un nodo de agente de IA (\"gpt-4o-mini\") procesa los datos filtrados mediante una solicitud predefinida. Esta solicitud indica al agente que genere un informe detallado de Markdown que incluye:\n- Un resumen general de los flujos de trabajo del creador.\n- Una tabla de Markdown que enumera cada flujo de trabajo junto con las métricas clave (visitantes únicos semanales/mensuales e insertadores) y una breve explicación de su popularidad.\n- Información sobre tendencias o comentarios de la comunidad relacionados con los flujos de trabajo.\n- **Conversión y guardado de resultados**:\n- El texto resultante se convierte en un archivo (mediante el nodo \"creator-summary\") y se guarda localmente con un nombre de archivo que incluye una marca de tiempo, lo que facilita su seguimiento y recuperación.",
        "height": 1000,
        "width": 1000,
        "color": 2
      },
      "id": "3a36aa3f-b946-4811-9c42-640efd673f83",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c32c3c93-d2b5-45d6-9c4e-43a344d1d021",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1088,
        608
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Memoria del historial de chat",
        "height": 280,
        "width": 280,
        "color": 3
      },
      "id": "7972bd02-6d59-452b-971f-52a3d539fd7a",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Guía de inicio rápido para el flujo de trabajo de la tabla de clasificación de creadores de n8n\n\n## Requisitos previos\n- Asegúrate de que tu instancia de n8n esté en ejecución.\n- Verifica que la URL base de GitHub y las variables de archivo (para creadores y flujos de trabajo) estén configuradas correctamente en el nodo \"Variables globales\".\n- Confirma que tus credenciales de OpenAI estén configuradas para el nodo \"Agente de IA\".\n\n## Cómo iniciar el flujo de trabajo\n- **Activar el flujo de trabajo:**\n\nAsegúrate de que el flujo de trabajo esté activo en tu entorno de n8n.\n\n- **Activar mediante chat:**\n\nEl flujo de trabajo se inicia mediante el nodo \"Activador de chat\". Envía un mensaje de chat como:\n`show me stats for username [desired_username]`\n\nEsta entrada proporciona el nombre de usuario necesario para el filtrado.\n\n- **Procesamiento y generación de informes:**\nUna vez activado, el flujo de trabajo obtiene datos agregados del creador y del flujo de trabajo desde GitHub, procesa y fusiona la información, y luego utiliza el Agente de IA para generar un informe de Markdown.\n\n- **Resultado:**\nEl informe final de Markdown se guarda localmente como un archivo (con marca de tiempo), que puedes revisar para ver estadísticas detalladas de la clasificación e información del creador especificado.\n\n## Resumen\nAl enviar un mensaje de chat con el comando de nombre de usuario correspondiente, puedes activar rápidamente este flujo de trabajo, que obtendrá, procesará y generará estadísticas dinámicas sobre los creadores de la comunidad n8n. ¡Disfruta explorando los datos de la clasificación de tu comunidad!",
        "height": 980,
        "width": 480
      },
      "id": "059a1075-6198-4d9f-a2fc-69b5d64660c1",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# ¿Por qué usar el flujo de trabajo de la tabla de clasificación de creadores de n8n?\n\n## Beneficios\nEste flujo de trabajo proporciona información valiosa sobre la comunidad n8n mediante el análisis y la presentación de estadísticas detalladas sobre los creadores de flujos de trabajo y sus contribuciones. Ayuda a los usuarios a:\n\n- **Descubrir flujos de trabajo populares**: Identificar los flujos de trabajo más utilizados según los visitantes únicos y las personas que insertan contenido, tanto semanales como mensuales.\n- **Comprender las tendencias de la comunidad**: Obtener información sobre los tipos de flujos de trabajo que tienen mayor impacto en la comunidad, lo que permite una mejor toma de decisiones para crear o mejorar flujos de trabajo.\n- **Reconocer a los principales colaboradores**: Destacar a los creadores más activos e influyentes, fomentando la colaboración y la inspiración dentro de la comunidad.\n- **Ahorrar tiempo con la automatización**: Automatiza la recuperación, el procesamiento y la generación de informes de datos, eliminando el esfuerzo manual.\n\n## Características clave\n- **Agregación de datos**: Obtiene estadísticas de creadores y flujos de trabajo de los repositorios de GitHub. - **Filtro personalizado**: Permite filtrar por nombre de usuario específico para centrarse en colaboradores individuales.\n- **Informes con IA**: Genera informes completos en Markdown con resúmenes detallados, tablas y análisis de la comunidad.\n- **Flexibilidad de salida**: Guarda los informes localmente para facilitar el acceso y futuras consultas.\n\n## Casos de uso\n- **Para creadores de flujos de trabajo**: Supervisa las métricas de rendimiento de tus flujos de trabajo para comprender su impacto y optimizarlos para una mayor interacción.\n- **Para gestores de comunidad**: Reconoce a los principales colaboradores y tendencias para fomentar la participación y mejorar los recursos de la comunidad.\n- **Para nuevos usuarios**: Explora flujos de trabajo populares como punto de partida para crear tus propias automatizaciones.",
        "height": 940,
        "width": 480
      },
      "id": "b00c26e0-d5eb-4d73-83bd-37797e98e788",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Soy una nota\n**Haz doble clic** para editarme. [Guía](https://docs.n8n.io/workflows/sticky-notes/)",
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        1648
      ],
      "typeVersion": 1,
      "id": "18b7ef9f-248f-4b6f-80d9-5bf64d20f760",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Soy una nota\n**Haz doble clic** para editarme. [Guía](https://docs.n8n.io/workflows/sticky-notes/)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        1648
      ],
      "id": "66e63aa9-6e51-43d4-8518-1c47b5810b75",
      "name": "Sticky Note18"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": {
            "username": "joe"
          }
        }
      }
    ]
  },
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Workflow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "n8n Creator Stats Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Creators Data": {
      "main": [
        [
          {
            "node": "Merge Creators & Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "n8n Creator Stats Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflows Data": {
      "main": [
        [
          {
            "node": "Merge Creators & Workflows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "creator-summary": {
      "main": [
        [
          {
            "node": "Save creator-summary.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Variables": {
      "main": [
        [
          {
            "node": "stats_aggregate_creators",
            "type": "main",
            "index": 0
          },
          {
            "node": "stats_aggregate_workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Creators": {
      "main": [
        [
          {
            "node": "Sort By Top Weekly Creator Inserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Creators Data": {
      "main": [
        [
          {
            "node": "Split Out Creators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Workflow Data": {
      "main": [
        [
          {
            "node": "Split Out Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Workflows": {
      "main": [
        [
          {
            "node": "Sort By Top Weekly Workflow Inserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Top 25 Creators": {
      "main": [
        [
          {
            "node": "Creators Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "n8n Creator Stats Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Take Top 300 Workflows": {
      "main": [
        [
          {
            "node": "Workflows Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Creator Stats Agent": {
      "main": [
        [
          {
            "node": "Summary Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "creator-summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stats_aggregate_creators": {
      "main": [
        [
          {
            "node": "Parse Creators Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stats_aggregate_workflows": {
      "main": [
        [
          {
            "node": "Parse Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter By Creator Username": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Creators & Workflows": {
      "main": [
        [
          {
            "node": "Filter By Creator Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "n8n Creator Stats Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Global Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort By Top Weekly Creator Inserts": {
      "main": [
        [
          {
            "node": "Take Top 25 Creators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort By Top Weekly Workflow Inserts": {
      "main": [
        [
          {
            "node": "Take Top 300 Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "106de700-9532-4e4c-a945-9208e0db77de",
  "meta": {
    "instanceId": "5484ff8886008941223f906d261ce002f9cd4a716f89f4cd3384770ee616c550"
  },
  "id": "F7STwNkiFgtRuSCu",
  "tags": []
}