Agente RAG _ Lectura de PDF BD Vectorial.json
{
  "name": "Agente RAG | Lectura de PDF BD Vectorial",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17VyaDhR4rfWoj_EzObX-toTxr0er-ZP8",
          "mode": "list",
          "cachedResultName": "Biblioteca RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17VyaDhR4rfWoj_EzObX-toTxr0er-ZP8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -64
      ],
      "id": "66e0b024-6428-4651-940d-e5d1bc78bebc",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QwpJaRmURUhuLidC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        -64
      ],
      "id": "b9b7b8b9-1944-4030-9e02-f81b4d3088f1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QwpJaRmURUhuLidC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragsmartlift2",
          "mode": "list",
          "cachedResultName": "ragsmartlift2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        144,
        -64
      ],
      "id": "97168325-ce4d-43f1-ac7b-9ac6909e80b5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "4VA4ZrvuYwUo9Upw",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "id": "d85ffc73-5733-478a-8c04-a8109dcf350e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "su6ctWDhEcyY4vSz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        160
      ],
      "id": "2be3c9ac-c5f5-46e7-93aa-dcbc1b588aca",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        384,
        368
      ],
      "id": "14d662ef-d85a-49e2-a2b3-d8d35cde4ca4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "# Primer Flujo | Cargar información a nuestra BD Vectorial \n* Primera parte del flujo de trabajo que nos permite almacenar los documentos de nuestra biblioteca especializada en nuestra base de datos vectorial ",
        "height": 736,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -208
      ],
      "typeVersion": 1,
      "id": "94adfabe-0647-4928-b86e-fd14a09ae314",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Segundo Flujo | Consultar la BD Vectorial \n* Segunda parte del flujo de trabajo que nos permite hacer consultas al chat y que nuestro agente busque en nuestra base de datos especializada que se alimenta de los documentos que coloquemos en la carpeta de Google Drive ",
        "height": 736,
        "width": 1296,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        -208
      ],
      "typeVersion": 1,
      "id": "93e7e5f7-617b-476f-ad8d-cb3bf2b7f5d5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        -48
      ],
      "id": "e0f73ea2-2131-4e40-8a1a-b22cc64f5b13",
      "name": "When chat message received",
      "webhookId": "310ce2f3-3476-46cd-b2e0-f3992547fe55"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente personal. Tu funcion es identificar que es lo que quiere buscar el usuario referente a cosméticos en Pinecone Vector Store. Responde de forma concreta, sólo referente a la información que consultas en pinecone. En tu respuesta, Siempre coloca como referencia la fuente de datos del documento."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1040,
        -48
      ],
      "id": "b7c11826-324d-4fb6-b86b-2030d9f8191b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        160
      ],
      "id": "4d6eb8ec-90e7-47a7-870e-59805c347b64",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "NcctREjjnQFdryFQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "consulta mi biblioteca especializada",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragsmartlift2",
          "mode": "list",
          "cachedResultName": "ragsmartlift2"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1296,
        176
      ],
      "id": "26805936-0da6-4368-aff8-2aa2df39ec43",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "4VA4ZrvuYwUo9Upw",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1392,
        352
      ],
      "id": "a8de34d6-78f3-4b11-9ccc-b64901f461c8",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "su6ctWDhEcyY4vSz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        160
      ],
      "id": "eec1a5df-ca18-4f4e-a3b5-6794ba77fd1e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a78384ad-47c3-4485-8026-c3defb5b3cb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5484ff8886008941223f906d261ce002f9cd4a716f89f4cd3384770ee616c550"
  },
  "id": "5GXxnh3TtRnCruGr",
  "tags": []
}