MCP Cliente Supabase.json
{
  "name": "MCP Cliente Supabase",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        -80
      ],
      "id": "fe451b41-b06a-4133-a972-866e9986fdc3",
      "name": "When chat message received",
      "webhookId": "92462d45-29d3-4997-bea7-3cf76dff77aa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput}}",
        "options": {
          "systemMessage": "Eres un agente que se conecta al MCP Server Trigger, y a las herramientas que tiene disponible.\nResponde siempre según la base de datos en Supabase, nunca respondas información que no funciona"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -192,
        -80
      ],
      "id": "d23fadfd-b3ca-41fc-a395-3bd5861d291d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://analytics-n8n.rojo7o.easypanel.host/mcp/MCP",
        "include": "selected",
        "includeTools": [
          "Select_rows_from_a_table_in_Postgres"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        128,
        128
      ],
      "id": "43a9e0d1-50eb-4102-b1b2-3ae8ba9787e3",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -336,
        128
      ],
      "id": "3fbdd8a0-d03b-4cd0-a4c3-6ef79c337890",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "NcctREjjnQFdryFQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        128
      ],
      "id": "331bfb8e-d6c7-4011-8820-d610e825a187",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37b517a8-6d3b-48d3-bda6-27e41f898cb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5484ff8886008941223f906d261ce002f9cd4a716f89f4cd3384770ee616c550"
  },
  "id": "GCxxWUhIQEosFUbr",
  "tags": []
}